@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
	position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: 'Sen', sans-serif;
    color: #fff;
    min-height: 100vh;
    
    background-image: url('/static/windows.jpg');
    backdrop-filter: blur(4px);
    background-color: rgb(21, 21, 29);
    background-position: center;
    background-size: cover;
    /* background-size: 65%; */
}

i {
	@apply h-4 py-[7px] w-4 block relative;

    @apply flex-shrink-0;
	animation: spin 4s linear infinite;
}

i::before {
    content: '';
    position: absolute;
    margin: auto;
    inset: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.cable::before,
.cable::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.75rem;
    inset: 0;
    margin: auto;
    color: #3C3218;
    filter: blur(0.5px);
    background-color: #5E5541;
    background-image: repeating-linear-gradient(45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
    background-size: 5px 5px;
    box-shadow: 0px 0px 3px 3px #3C3218;
}
.cable::after {
    left: 1.5rem;
}

.gradient {
    /*
      Variables are defined right along style declarations.
      They're indicated by the double-hyphen prefix.
    */
    --color-1: #2B4570;
    --color-2: #A8D0DB;
    
    /*
    You can access variables using the 'var()' function:
    */
    /* background: linear-gradient(170deg, var(--color-1), var(--color-2)); */
}
:root {
    --inner-color-1: #dbb4a6;
    --inner-color-2: #a08e8b;
}
.front-panel {
    /* background: linear-gradient(170deg, var(--inner-color-1), var(--inner-color-2)); */
    /* color: rgb(31, 29, 29); */
    background-clip: text;
    -webkit-background-clip: text;
    
    position: absolute;
    width: 40%;
    height: 40%;
    inset: 0;
    margin-top: 5vw;
    margin-left: 5vw;
}